body {
    width: 1140px;
    height: 200px;
    padding: 0;
    margin: 0;
    /* border-spacing: 0;
    border-collapse: collapse; */
}

main {
    padding: 16px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

h1 {
    color: rgb(59, 101, 117);
}
footer {
    padding: 24px, 0px;
    background-color: rgb(171, 200, 128);
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black;
    /* padding: 16px; */
    padding: 16px;
    background-color: rgb(253, 98, 47);
}

.taco-pictures-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2;
    /* grid-template-rows: repeats(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    column-gap: 16px;
    row-gap: 8px;
    width: 600px;
    margin-bottom: 16px;
}
    
.taco-pictures-item h3 {
    grid-column-start: 2;
}

.taco-pictures-item h3 {
    grid-column-start: 3;
}

.taco-pictures-item h3 {
    grid-column-start: 4;
}

.taco-pictures-item h3 {
    grid-row-start: 2;
    /* grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2; */
    /* width: 100%; */
    /* grid-row-start: 2; */
    /* grid-row-end: 6; */
}


/*below css removed underline from links*/

a:link {
    text-decoration: none;}


a:visited {
    text-decoration: none;}


a:hover {
    text-decoration: none;}


a:active {
    text-decoration: none;}